@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

#ext_menu-13 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-13.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-13 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-13 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-13 .mbr-brand__name a {
  font-size: 30px;
}
#ext_menu-13 .mbr-navbar__items a {
  font-family: 'Open Sans', sans-serif;
}
#header1-3 H1 {
  font-size: 36px;
}
#msg-box5-2 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-2 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-2 .mbr-article {
  color: #ffffff;
}
#header3-11 H3 {
  text-align: center;
  font-size: 32px;
}
#header3-11 P {
  text-align: center;
  font-size: 23px;
  color: #2969b0;
}
#content5-12 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-12 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-12 .mbr-article {
  color: #fff;
}
#content5-12 .mbr-article P {
  font-size: 20px;
  color: #000000;
}
#content5-12 .mbr-header .mbr-header__text DIV {
  color: #2969b0;
}
#msg-box3-12 .mbr-header .mbr-header__text {
  text-align: center;
  color: #252525;
}
#msg-box3-12 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-12 .mbr-article P {
  text-align: center;
  color: #b8312f;
  font-size: 14px;
}
#msg-box4-7 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-7 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-7 .mbr-article {
  color: #ffffff;
}
#content5-16 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-16 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-16 .mbr-article {
  color: #fff;
  text-align: center;
  font-size: 23px;
}
#content5-16 .mbr-article H1 {
  font-size: 20px;
  text-align: center;
}
#content5-16 .mbr-article UL {
  text-align: center;
}















#ext_menu-13 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-13.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-13 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-13 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-13 .mbr-brand__name a {
  font-size: 30px;
}
#ext_menu-13 .mbr-navbar__items a {
  font-family: 'Open Sans', sans-serif;
}
#header1-14 H1 {
  font-size: 36px;
}
#msg-box5-15 .mbr-header__text {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#msg-box5-15 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-15 .mbr-article {
  color: #ffffff;
}
#msg-box5-15 .mbr-article P {
  font-family: 'Open Sans', sans-serif;
}
#header3-16 H3 {
	text-align: center;
	font-size: 32px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
#header3-16 P {
  text-align: center;
  font-size: 23px;
  color: #2969b0;
  font-family: 'Open Sans', sans-serif;
}
#content5-17 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-17 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-17 .mbr-article {
  color: #fff;
}
#content5-17 .mbr-article P {
  font-size: 25px;
  color: #000000;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
#content5-17 .mbr-header .mbr-header__text DIV {
  color: #2969b0;
  font-family: 'Open Sans', sans-serif;
}
#msg-box3-19 .mbr-header .mbr-header__text {
  text-align: center;
  color: #252525;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
}
#msg-box3-19 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-19 .mbr-article P {
  text-align: center;
  color: #b8312f;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}
#msg-box4-20 .mbr-header__text {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#msg-box4-20 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-20 .mbr-article {
  color: #ffffff;
}
#msg-box4-20 .btn {
  font-family: 'Open Sans', sans-serif;
}
#social-buttons1-21 .mbr-header__text {
  font-family: 'Open Sans', sans-serif;
}
#social-buttons2-22 .mbr-header__text {
  font-family: 'Open Sans', sans-serif;
}
#content5-23 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}
#content5-23 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-23 .mbr-article {
	color: #fff;
	text-align: center;
	font-size: 23px;
	font-family: Arial, Helvetica, sans-serif;
	alignment-adjust: 0;
}
#content5-23 .mbr-article H1 {
  font-size: 20px;
  text-align: center;
}
#content5-23 .mbr-article UL {
  text-align: center;
}
